.div1{
    background: linear-gradient(175deg, #00ADB5 85%, #393E46 16%);
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 5%;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 0%;
}
.div2{
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}
.div3{
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 20%;
}
.div2Header,.div3Header{
    color: #EEEEEE;
    text-align: center;
    animation: colorChange 5s infinite alternate;  
}
.faqHeader{
    color: #393E46;
    font-weight: bolder;
    font-size: 250%;
}
.contactHeader{
    color: #00ADB5;
    font-weight: bolder;
    font-size: 250%;
}
.faqHeadertag{
    color: #393E46;
    font-size: small;
    font-weight: 600;
    z-index: 99;
}
.faqContainer{
    margin-top: -6%;
}
.faqIcon{
    width: 75%;
    margin-top: -22%;
    margin-left: 25%;
}
@media (min-width: 768px){
    .faqContainer{
        display: flex;
        height: 97.9vh;
        justify-content: center;
        align-items: center;
        column-gap: 15%;
        background-image: url('/public/faqBGDesktop.png');
    } 
    .div2,.div3{
        background-color: transparent;
        padding-top: 0%;
    }
    .div1{
        background: none;
        width: 40vw;
        margin-top: -30%;
        margin-left: -3%;
    }
    .faqIcon{
        width: 28%;
        margin-top: 30%;
        margin-left: 28.5%;
        position: absolute;
    }
    .div2{
        position: absolute;
        width: 30vw;
        margin-left: -52.5%;
        margin-top: 15%;
    }
    .div3{
        width: 35vw;
        height: 50vh;
        margin-top: 24%;
    }
    .faqHeader{
        color: white;
        font-weight: bolder;
        font-size: 13vh;
    }
    .faqHeadertag{
        color: #00ADB5;
        font-size: 4vh;
        font-weight: 100;
    }
    .div2Header{
        color: transparent;
    }
    .div3Header{
        color: white;
    }
}