.gpaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6%;
    background-image: url('/public/homeCover3.png');
    background-position: left;
    background-size: cover;
}
.lowerGC{
    padding-bottom: 12%;
}
.description2{
    color: #393E46;
    font-size: small;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
.header2{
    text-align: center;
    color: #222831;
    font-weight: bolder;
    font-size: 250%;
}
.upperGC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
@media (min-width: 768px){
    .gpaContainer{
        flex-direction: row;
        margin-top: -1%;
        background-size: cover;
        align-items: start;
        background-image: none;
        background-color: white;
        height: 87vh;
        column-gap: 4%;
    }
    .lowerGC{
        padding-bottom: 0%;
        width: 28vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;      
    }
    .upperGC{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 0%;
        width: 30vw;
    }
    .description2{
        color: #393E46;
        font-size: medium;
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }
    .header2{
        text-align: center;
        color: #222831;
        font-weight: bolder;
        font-size: 350%;
        padding-top: 3%;
    }
}