.howToContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6%;
    padding-top: 8%;
    background-image: url('/public/homeCover3.png');
    background-position: right;
    background-size: cover;
}
.howText{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    font-size: small;
}
.howToDiv2{
    margin-top: 5%;

}
.tableC{
    width: 85vw;
    display: flex;
    margin-bottom: 20%;
    flex-direction: column;
}
.howtoHeader{
    color: #393E46;
    font-weight: bolder;
    font-size: 250%;
    text-align: center;
}
.rightDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px){
    .howToContainer{
        flex-direction: row;
        margin-top: -6%;
        height: 98.1vh;
        column-gap: 4%;
        background-image: url('/public/howBGDesktop.png');
    }
    .tableC{
        width: 25vw;
        display: flex;
        margin-bottom: 0%;
        flex-direction: column;
    }
    .howtoHeader{
        color: white;
        font-weight: bolder;
        font-size: 250%;
        text-align: center;
    }
    .howToDiv2{
        margin-top: 0%;
        margin-bottom: 5%;
    }
    .rightDiv{
        margin-top: -3%;
    }
    .leftDiv{
        width: 30vw;
        margin-top: -19%
    }
    .howtoHeader{
        color: white;
        font-weight: bolder;
        font-size: 350%;
        text-align: center;
    }
    .howText{
        font-size: medium;
        text-align: justify;
        padding-left: 0%;
        color: white;
    }
}