.accordContainer{
    width: 85vw;
}
.accordH1{
    font-size: x-small;
    color: #00ADB5;
}
.accordH2{
    color: #EEEEEE;
}

@media (min-width: 768px){
    .accordContainer{
        width:30vw;
    }
}