.inputRow{
    display: flex;
    align-items: center;
    column-gap: 3%;
}
.inputContainer{
    width: 85vw;
    padding-top: 5%;
    padding-bottom: 5%;
}
.container{
    display: flex;
    justify-content: center;
}
.dropdown-menu{
    height: 30vh;
    overflow-y: auto;
}
.endBar{
    display: flex;
    justify-content: right;
    margin-top: 9%;
}
.displayGPAContainer{
    margin-left: 45%;
    width: 45vw;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}
.gpaText{
    text-align: center;
    font-size: 95%;
    margin-top: -30%;
    margin-right: 30%;
    transform: rotate(45deg);
}
.gpaDecimal{
    font-size: 320%;
    font-weight: bolder;
    margin-top: -10%;
}
.gpaDesc{
    margin-top: -15%;
}
.inputBox{
    border-color: transparent;
}
.close:focus {
    box-shadow:none;
}
